@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

body {
  margin: 0;
  font-family: Quicksand,
    sans-serif;
  font-size: 1.5em;
  text-align: center;
  background-color: #fce4ec;
  color: #333;
 
}

